# Flask
# Secrets & keys
.env
*.pem
*.key
**keys/

# Python
**__pycache__/
*.py[oc]

# Pytest
**.pytest_cache/

.venv/

# Database
*.db
*.sqlite3
server/instance/

# Logs
logs
*.log
**/logs/
*.__lock

# uv / packaging
build/
wheels/
*.egg-info/.DS_Store
**/.uv-cache/
**/.DS_Store

# dev
*.temp
**/unused/
*docx
*.override.yml

# React client
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Vite dev artifacts only
*.local
dist-ssr
.vite/
*/.vite/*

node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Claude 
CLAUDE.md

# Internal 
zcc-cti-integration.md