# Secrets & keys
.env
*.pem
*.key
**keys/

# Python
**__pycache__/
*.py[oc]

# Pytest
**.pytest_cache/

.venv/

# Database
*.db
*.sqlite3
server/instance/

# Logs
*.log
**/logs/

# uv / packaging
build/
dist/
wheels/
*.egg-info/.DS_Store
**/.uv-cache/
**/.DS_Store

# dev
*.temp
**/unused/
*docx