# Secrets & keys
.env
*.pem
*.key
server/keys/

# Python
**__pycache__/
*.py[oc]

.venv/

# Database
*.db
*.sqlite3
server/instance/

# Logs
*.log
**/logs/

# uv / packaging
build/
dist/
wheels/
*.egg-info/